:host {
  display: grid;
  grid-template-areas:
    "toolbar toolbar"
    "sidebar main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 220px 1fr;
  min-height: 100vh;


  .app-toolbar {
    grid-area: toolbar;
    background: linear-gradient(
      90deg,
      #135eaa 60%,
      #0d4285 80%,
      #062561 100%
    );
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 32px;
    font-size: 1.25rem;
    box-shadow: 0 2px 4px #cccccc;
    justify-content: space-between;

    .logo {
      font-weight: bold;
      letter-spacing: 1.5px;
      font-size: 1.3em;

      .material-symbols-rounded {
        vertical-align: middle;
        font-size: 1.4em;
        transition: color 0.2s;
      }

      .icon-main {
        color: #8ac4fc;
        border-radius: 50%;
        padding: 6px;
      }
    }

    .theme-color {
      display: grid;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #8ac4fc;
      

      input[type="color"] {
        border: 0px transparent;
        outline: 0px transparent;
        padding: 0;
        cursor: pointer;
        background: transparent;
        width: 50px;
        height: 50px;
        margin: -10px;
      }
    }
  }

  .app-sidebar {
    grid-area: sidebar;
    background: #8ac4fc;
    color: #ffffff;
    padding: 24px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: 1px solid #0d4285;

    nav {
      display: flex;
      flex-direction: column;
      gap: 8px;

      a {
        padding: 12px 24px;
        background: transparent;
        color: #0d4285;
        text-decoration: none;
        font-weight: 500;
        border-left: 4px solid transparent;
        transition: background 0.2s, border-color 0.2s;
        display: flex;
        flex-direction: row;
        align-items: center;

        &.active {
          background: #2a92f4;
          color: #000000;
          border-left: 4px solid #f37421;

          .icon-nav {
            color: #062561;
          }
        }

        &:hover:not(.active) {
          background: #5aabf8;
          color: #0d4285;
        }

        .icon-nav {
          color: #2196f3;
          margin-right: 10px;
        }
      }
    }
  }
  .app-main {
    grid-area: main;
    background: #e6e6e6;
    padding: 32px;
    overflow: auto;
    min-height: 0;
  }
}
