:host {
  display: flex;
  flex-direction: row;
  font-size: 13.3px;
  font-weight: 500;

  .option {
    display: flex;
    border: 1px solid #524491;
    padding: 0.6em 0.8em;
    border-inline-end-width: 0px;
    color: #34276d;
    cursor: pointer;

    &:first-child {
      border-radius: 0.5em 0 0 0.5em;
    }

    &:last-child {
      border-radius: 0 0.5em 0.5em 0;
      border-inline-end-width: 1px;
    }
    &.selected {
      background-color: #7d72b5;
      color: #fff;
    }
    &:hover {
        background-color: #c0bedb;
    }
  }
}
