@use 'symbols';
@use 'buttons';


@mixin go() {
  html,
  body {
    height: 100vh;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
  }

  @include symbols.go();
  @include buttons.go();
}
