:root {
  --background: white;
  --foreground: black;
  --primary: #2196f3;
  --shadow: rgb(0 0 0 / 0.3); 
}

:root, .theme {
  --accent: hsl(from var(--primary) calc(h + 180) s l);

  --n-00: #ffffff;
  --n-01: #e6e6e6;
  --n-02: #cccccc;
  --n-03: #b3b3b3;
  --n-04: #999999;
  --n-05: #808080;
  --n-06: #666666;
  --n-07: #4d4d4d;
  --n-08: #333333;
  --n-09: #1a1a1a;
  --n-10: #000000;

  --p-00: #eaf4fd;  
  --p-01: #badcff;  
  --p-02: #8ac4fc;  
  --p-03: #5aabf8;  
  --p-04: #2a92f4;  
  --p-05: #2196f3;  
  --p-06: #1a7ace;  
  --p-07: #135eaa;  
  --p-08: #0d4285;  
  --p-09: #062561;  
  --p-10: #000000;  

  --a-00: #fdf3ea;  
  --a-01: #f8d9bb;  
  --a-02: #f3be8c;  
  --a-03: #eea35d;  
  --a-04: #e9882e;  
  --a-05: #f37421;  
  --a-06: #c45f1a;  
  --a-07: #954913;  
  --a-08: #66340d;  
  --a-09: #381e06;  
  --a-10: #000000;  
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: var(--n-01);
  color: var(--n-08);
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
}
