:host {
  align-self: center;
  display: flex;
  flex-direction: row;

  input {
    height: 36px;
    width: 240px;
    padding-inline-start: 2em;
    outline: none;
    border: 2px solid transparent;
    border-radius: 4px;
    color: #786cb2;
    font-size: 1.3em;

    &::placeholder {
      color: #999;
    }

    &:focus {
        border-color:#f4bd3c;
    }
  }
}
