:host {
  flex-grow: 1;
  background-color: #f0f0f0;
  color: #333;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;

  app-header {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  app-side-nav {
    grid-column: 1;
    grid-row: 2;
  }
}
