:host {
    display: flex;
    flex-direction: column;

    .bases {
        display: flex;
        flex-direction: row;
        gap: 10px;

        div {
            width: 100px;
            height: 50px;
            border: 1px solid var(--n-04);
            display: flex;
            align-items: center;
            justify-content: center;

            &.primary {
                background: var(--primary);
                color: var(--n-00);
            }
            &.background {
                background: var(--background);
                color: var(--n-10);
            }
            &.foreground {
                background: var(--foreground);
                color: var(--n-00);
            }
        }
    }


    .entries {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .palette {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .shade {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 8px;
            }
            
        }
    }
}
